<header class="header">
  <h3 class="text-muted">Desafio Javascript</h3>
</header>

<section class="box-vehicle-form">
    <form action="#" id="vehicle-form" role="vehicle-form">
        <section class="col-lg-4">
            <div class="form-group">
                <label for="registration-plate">Placa<span> *</span></label>
                <input type="text" class="form-control" id="registration-plate" placeholder="ABC-1234">
            </div>

            <div class="form-group">
                <label for="brand">Marca<span> *</span></label>
                <select class="form-control" id="brand">
                  <option value="0">Escolha uma marca</option>
                  <option value="asd">asd</option>
                  <option value="asd">asd</option>
                </select>
            </div>

            <div class="form-group">
                <label for="fuel">Combustível</label>
                <select class="form-control" id="fuel">
                  <option value="0">Abastece com...</option>
                  <option value="asd">asd</option>
                  <option value="asd">asd</option>
                </select>
            </div>
        </section>

        <section class="col-lg-4 col-lg-offset-2">
            <div class="form-group">
                <label for="color">Cor</label>
                <select class="form-control" id="color">
                  <option value="0">Escolha uma cor</option>
                  <option value="asd">asd</option>
                  <option value="asd">asd</option>
                  <option value="asd">asd</option>
                  <option value="asd">asd</option>
                  <option value="asd">asd</option>
                  <option value="asd">asd</option>
                  <option value="asd">asd</option>
                  <option value="asd">asd</option>
                  <option value="asd">asd</option>
                  <option value="asd">asd</option>
                  <option value="asd">asd</option>
                  <option value="asd">asd</option>
                  <option value="asd">asd</option>
                  <option value="asd">asd</option>
                  <option value="asd">asd</option>
                </select>
            </div>

            <div class="form-group">
                <label for="model">Modelo<span> *</span></label>
                <select class="form-control" id="model">
                  <option value="0">Escolha o modelo</option>
                  <option value="asd">asd</option>
                  <option value="asd">asd</option>
                </select>
            </div>

            <div class="form-group">
                <label for="image">Imagem</label>
                <input type="text" class="form-control" id="image" placeholder="http://www.hondakaizen.com.br/img/logo.png">
            </div>
        </section>
        <div class=" col-lg-10 box-action">
            <div class="col-lg-3">
                <button type="button" class="btn btn-default btn-block">Cancelar</button>
            </div>
            <div class="col-lg-3 col-lg-offset-6">
                <button type="button" class="btn btn-primary btn-block">Adicionar</button>

                <!-- <button type="button" class="btn btn-success btn-block">Salvar</button> -->
            </div>
        </div>
    </form>
</section>
